.register {
    margin-left: 2rem;
    max-width: 500px;

    .header-title {
        text-align: start;
        margin-left: 220px;
    }

    h2 {
        text-align: center;
    }

    form {
        max-width: 500px;
        margin-left: 2rem;
    }
}
