<header class="header">

     <div class="container">

        <a class="logo" href="/"><img alt="Silicon" src="/images/silicone-logo-light_theme.svg" id="logo"></a>
     </div>
</header>

@code {

}
