@page "/"

<PageTitle>Home</PageTitle>

<div class="container"></div>
 
<div>
    <h1>
        Welcome to the BackOffice for the Silicon AB project
    </h1>
    <p>
        We offer a  user-friendly platform where you can manage both users and administrators. Our goal is to make administration simple and efficient: to  delivery top-notch services to your customers.

    </p>
    @* <div class="row mb-5">
        <div class="col-md-6">
            <img src="/images/comp_course.jpg" alt="Alternate Text" class="img-fluid img-square" style="margin: 20px 0; height: 100%; width: 100%; object-fit: cover;" />
        </div>
        <div class="col-md-6">
            <img src="/images/course_table.jpg" alt="Alternate Text" class="img-fluid img-square" style="margin: 20px 0; height: 100%; width: 100%; object-fit: cover;" />
        </div>
    </div> *@
    <p>
        Silicon AB is one of the  leading technology-based education companies in our country.
    </p>
    <p>
        Our courses is designed for open source developers, project managers, and engineers, catering to different writing skills.
    </p>
    <p>
        Through their courses, Silicon AB provides individualized education experiences and cutting-edge online .
    </p>
    <p>
        At Silicon AB, we are reimagining learning—where learning is lifelong, deeply personal, and prepares learners for tomorrow. The company has transformed  people’s teaching and learning experiences by providing innovative, high-quality, tech-enabled education solutions, curriculum, and programs.
    </p>
    
</div>
